{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="card">
            <h5 class="card-header">{{ article.name }}</h5>
            <div class="card-body">
                <p class="card-text">{{ article.content }}</p>
            </div>
            <div class="card-footer text-muted">
                By {{ article.author }} at {{ article.createdAt|date('d/m/Y') }}
            </div>
        </div>
        <a href="index.php" class="btn btn-primary mt-4">Back to home</a>
    </div>
{% endblock %}
