{% extends 'base.html.twig' %}

{% block main %}
    {% if loggedIn %}
        <div class="alert alert-success" role="alert">
            You have been successfully logged in
        </div>
    {% elseif loggedOut %}
        <div class="alert alert-success" role="alert">
            You have been successfully logged out
        </div>
    {% endif %}
    Hello World!!!!
{% endblock %}
